---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formattedDate } from "../lib/utils";

type Props = CollectionEntry<"blog">;
const {
  data: { date, description, isDraft, tags, title },
  ...other
} = Astro.props;
---

<a href={`/blog/${other.slug}`} class="no-underline group" rel="prefetch">
  <article
    class="shadow px-3 py-2 bg-purple-50/50 dark:bg-neutral-900/60 rounded flex flex-col sm:flex-row gap-6 items-center sm:items-start my-4 border-b border-purple-500"
  >

    <div class="">
      <h2
        class="!text-lg font-medium my-0 group-hover:text-purple-500 duration-200"
        transition:name={other.slug + "heading"}
      >
        {title}
      </h2>
      <p class="opacity-80 text-sm mt-2 line-clamp-2">{description}</p>
      <time class="opacity-80"><small>{formattedDate(date)}</small></time>
    </div>
  </article>
</a>
