---
import Icon from "./Icon.astro";
---

<hr class="mt-0 dark:border-neutral-700 border-neutral-300"/>
<footer
  class="prose dark:prose-invert flex pt-4 pb-1 justify-between text-sm items-center mx-o mt-auto"
>
  <div class="logo flex items-center flex-col leading-1">
  </div>
  <div class="links flex gap-3 grow justify-end">
    <a
      href="https://github.com/ssszlma"
      title="github"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <Icon name="mdi:github" height={18} width={18} />
    </a>
    <a
      href="https://linkedin.com/in/salmaaj"
      title="linkedin"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <Icon name="mdi:linkedin" height={18} width={18} />
    </a>
    <a
      href="https://instagram.com/ssszlma"
      title="instagram"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <Icon name="mdi:instagram" height={18} width={18} />
    </a>

  </div>
</footer>
