---
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import BaseLayout from "../../Layouts/BaseLayout.astro";
import Icon from "../../components/Icon.astro";
import { Image } from "astro:assets";


export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const {
  project,
  project: {
    data: { isDraft, name, ghLink },
  },
} = Astro.props;
const { Content } = await project.render();
---

<BaseLayout
  title={project.data.name}
  description={project.data.description}
>
  <button
    slot="extra-header"
    title="go back"
    class={`back-button flex items-center w-fit py-1 underline hover:decoration-slate-400 underline-offset-4 duration-200  dark:text-gray-50 text-gray-950 gap-1`}
  >
    <Icon name="mdi:arrow-left" height={16} width={16} />back
  </button>
  {
    isDraft && (
      <blockquote
        class="my-8 bg-neutral-200/50 py-4 pl-4 dark:bg-neutral-800/60 rounded"
        role="alert"
      >
        This post is a <strong>draft</strong>. If you're reading this, you're
        probably a cool and trusted person. Please <strong>don't share</strong>{" "}
        it thank you.
      </blockquote>
    )
  }
  <figure class="w-full overflow-hidden">

  </figure>
  <div
    class="links flex w-full no-underline justify-end gap-2 text-xs sm:text-sm mb-4"
  >
    {
      ghLink && (
        <a
          href={ghLink}
          target="_blank"
          referrerpolicy="no-referrer"
          class="flex items-center gap-1 no-underline outline rounded outline-1 p-1"
        >
          <Icon name="mdi:github" />
          Github
        </a>
      )
    }
    
  </div>
  <h1 transition:name={"/projects/" + project.slug + "heading"}>
    {project.data.name}
  </h1>
  <Content />
</BaseLayout>
<script is:inline>
function goBack() {
  window.history.back();
}
document.querySelector(".back-button")?.addEventListener("click", goBack);
</script>
